# Finance Data Project

In this data project we will focus on exploratory data analysis of stock prices. Keep in mind, this project is just meant to practice your visualization and pandas skills, it is not meant to be a robust financial analysis or be taken as financial advice.

# importing libraries

In [115]:
import pandas as pd 
import os
import pandas_datareader
import streamlit as st 
import pandas_datareader.data as web
import yfinance as yf 
import datetime as dt 
import numpy as np
from pandas_datareader import data, wb
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline

In [102]:
# Set Seaborn style
#sns.set(style='darkgrid', palette='viridis')

In [2]:
BAC = yf.Ticker('BAC')

In [3]:
BAC.info

{'address1': 'Bank of America Corporate Center',
 'address2': '100 North Tryon Street',
 'city': 'Charlotte',
 'state': 'NC',
 'zip': '28255',
 'country': 'United States',
 'phone': '704 386 5681',
 'website': 'https://www.bankofamerica.com',
 'industry': 'Banks - Diversified',
 'industryKey': 'banks-diversified',
 'industryDisp': 'Banks - Diversified',
 'sector': 'Financial Services',
 'sectorKey': 'financial-services',
 'sectorDisp': 'Financial Services',
 'longBusinessSummary': 'Bank of America Corporation, through its subsidiaries, provides banking and financial products and services for individual consumers, small and middle-market businesses, institutional investors, large corporations, and governments worldwide. It operates in four segments: Consumer Banking, Global Wealth & Investment Management (GWIM), Global Banking, and Global Markets. The Consumer Banking segment offers traditional and money market savings accounts, certificates of deposit and IRAs, non-interest and interest-bearing checking accounts, and investment accounts and products; credit and debit cards; residential mortgages, and home equity loans; and direct and indirect loans, such as automotive, recreational vehicle, and consumer personal loans. The GWIM segment provides investment management, brokerage, banking, and trust and retirement products and services; wealth management solutions; and customized solutions, including specialty asset management services. The Global Banking segment offers lending products and services, including commercial loans, leases, commitment facilities, trade finance, and commercial real estate and asset-based lending; treasury solutions, such as treasury management, foreign exchange, short-term investing options, and merchant services; working capital management solutions; debt and equity underwriting and distribution, and merger-related and other advisory services; and fixed-income and equity research, and certain market-based services. The Global Markets segment provides market-making, financing, securities clearing, settlement, and custody services; securities and derivative products; and risk management products using interest rate, equity, credit, currency and commodity derivatives, foreign exchange, fixed-income, and mortgage-related products. Bank of America Corporation was founded in 1784 and is based in Charlotte, North Carolina.',
 'fullTimeEmployees': 213000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Brian Thomas Moynihan',
   'age': 64,
   'title': 'Chairman, CEO & President',
   'yearBorn': 1959,
   'fiscalYear': 2023,
   'totalPay': 1887390,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Alastair M. Borthwick',
   'age': 54,
   'title': 'Chief Financial Officer',
   'yearBorn': 1969,
   'fiscalYear': 2023,
   'totalPay': 4353413,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Matthew M. Koder',
   'age': 51,
   'title': 'President of Global Corporate & Investment Banking',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'totalPay': 5973362,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Dean C. Athanasia',
   'age': 56,
   'title': 'President of Regional Banking',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'totalPay': 5102815,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James P. DeMare',
   'age': 53,
   'title': 'President of Global Markets',
   'yearBorn': 1970,
   'fiscalYear': 2023,
   'totalPay': 7046232,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Thomas M. Scrivener',
   'age': 51,
   'title': 'Chief Operations Executive',
   'yearBorn': 1972,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Amy  Littman',
   'title': 'Co-Head of Global Compliance & Operational Risk and Head of Enterprise Reputational Risk',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Sarang R. Gadkari',
   'title': 'Co-Head of Global Capital Markets',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Geoffrey S. Greener',
   'age': 58,
   'title': 'Chief Risk Officer',
   'yearBorn': 1965,
   'fiscalYear': 2023,
   'totalPay': 6210194,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Patrick  Ramsey',
   'age': 54,
   'title': 'Chairman of Global Mergers & Acquisitions',
   'yearBorn': 1969,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 4,
 'boardRisk': 6,
 'compensationRisk': 6,
 'shareHolderRightsRisk': 1,
 'overallRisk': 3,
 'governanceEpochDate': 1733011200,
 'compensationAsOfEpochDate': 1703980800,
 'irWebsite': 'http://investor.bankofamerica.com/phoenix.zhtml?c=71595&p=irol-sec',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 43.38,
 'open': 43.2,
 'dayLow': 43.1024,
 'dayHigh': 44.395,
 'regularMarketPreviousClose': 43.38,
 'regularMarketOpen': 43.2,
 'regularMarketDayLow': 43.1024,
 'regularMarketDayHigh': 44.395,
 'dividendRate': 1.04,
 'dividendYield': 0.0235,
 'exDividendDate': 1733443200,
 'payoutRatio': 0.35509998,
 'fiveYearAvgDividendYield': 2.45,
 'beta': 1.325,
 'trailingPE': 16.003622,
 'forwardPE': 11.993656,
 'volume': 72765699,
 'regularMarketVolume': 72765699,
 'averageVolume': 34892923,
 'averageVolume10days': 37888830,
 'averageDailyVolume10Day': 37888830,
 'bid': 44.17,
 'ask': 44.44,
 'bidSize': 2900,
 'askSize': 2200,
 'marketCap': 338911100928,
 'fiftyTwoWeekLow': 31.27,
 'fiftyTwoWeekHigh': 48.08,
 'priceToSalesTrailing12Months': 3.5815856,
 'fiftyDayAverage': 44.658,
 'twoHundredDayAverage': 40.3889,
 'trailingAnnualDividendRate': 0.98,
 'trailingAnnualDividendYield': 0.022591056,
 'currency': 'USD',
 'enterpriseValue': 335384084480,
 'profitMargins': 0.24952,
 'floatShares': 7646024520,
 'sharesOutstanding': 7672880128,
 'sharesShort': 74685555,
 'sharesShortPriorMonth': 63840556,
 'sharesShortPreviousMonthDate': 1730332800,
 'dateShortInterest': 1732838400,
 'sharesPercentSharesOut': 0.0097,
 'heldPercentInsiders': 0.10075,
 'heldPercentInstitutions': 0.63339,
 'shortRatio': 1.99,
 'shortPercentOfFloat': 0.0113,
 'impliedSharesOutstanding': 7672880128,
 'bookValue': 35.371,
 'priceToBook': 1.2487631,
 'lastFiscalYearEnd': 1703980800,
 'nextFiscalYearEnd': 1735603200,
 'mostRecentQuarter': 1727654400,
 'earningsQuarterlyGrowth': -0.116,
 'netIncomeToCommon': 21941999616,
 'trailingEps': 2.76,
 'forwardEps': 3.66,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1093824000,
 'enterpriseToRevenue': 3.544,
 '52WeekChange': 0.30448902,
 'SandP52WeekChange': 0.2421279,
 'lastDividendValue': 0.26,
 'lastDividendDate': 1733443200,
 'exchange': 'NYQ',
 'quoteType': 'EQUITY',
 'symbol': 'BAC',
 'underlyingSymbol': 'BAC',
 'shortName': 'Bank of America Corporation',
 'longName': 'Bank of America Corporation',
 'firstTradeDateEpochUtc': 99153000,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EST',
 'uuid': 'bcf30d7f-4abd-3593-b752-cacd38ff491c',
 'messageBoardId': 'finmb_19049',
 'gmtOffSetMilliseconds': -18000000,
 'currentPrice': 44.17,
 'targetHighPrice': 57.0,
 'targetLowPrice': 39.5,
 'targetMeanPrice': 49.12524,
 'targetMedianPrice': 50.0,
 'recommendationMean': 2.0,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 21,
 'totalCash': 827766996992,
 'totalCashPerShare': 107.882,
 'totalDebt': 799686000640,
 'totalRevenue': 94625996800,
 'revenuePerShare': 11.95,
 'returnOnAssets': 0.0072899996,
 'returnOnEquity': 0.08092,
 'operatingCashflow': -1995000064,
 'earningsGrowth': -0.1,
 'revenueGrowth': -0.005,
 'operatingMargins': 0.30769,
 'financialCurrency': 'USD',
 'trailingPegRatio': 1.957}

In [4]:
hist = BAC.history(period = 'max')

In [5]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1973-02-21 00:00:00-05:00,1.542558,1.542558,1.542558,1.542558,99200,0.0,0.0
1973-02-22 00:00:00-05:00,1.547770,1.547770,1.547770,1.547770,47200,0.0,0.0
1973-02-23 00:00:00-05:00,1.542558,1.542558,1.542558,1.542558,133600,0.0,0.0
1973-02-26 00:00:00-05:00,1.542558,1.542558,1.542558,1.542558,24000,0.0,0.0
1973-02-27 00:00:00-05:00,1.542558,1.542558,1.542558,1.542558,41600,0.0,0.0
...,...,...,...,...,...,...,...
2024-12-16 00:00:00-05:00,45.590000,45.680000,45.160000,45.470001,27330400,0.0,0.0
2024-12-17 00:00:00-05:00,45.189999,45.189999,44.619999,45.049999,33054600,0.0,0.0
2024-12-18 00:00:00-05:00,45.139999,45.430000,43.349998,43.500000,41771900,0.0,0.0
2024-12-19 00:00:00-05:00,43.970001,44.480000,43.310001,43.380001,38583600,0.0,0.0
2024-12-20 00:00:00-05:00,43.200001,44.400002,43.099998,44.169998,74111000,0.0,0.0

In [6]:
BAC.actions # dividends, splits

                           Dividends  Stock Splits
Date
1986-06-02 00:00:00-04:00     0.0475           0.0
1986-08-29 00:00:00-04:00     0.0475           0.0
1986-11-21 00:00:00-05:00     0.0000           2.0
1986-12-01 00:00:00-05:00     0.0525           0.0
1987-03-02 00:00:00-05:00     0.0525           0.0
...                              ...           ...
2023-11-30 00:00:00-05:00     0.2400           0.0
2024-02-29 00:00:00-05:00     0.2400           0.0
2024-06-07 00:00:00-04:00     0.2400           0.0
2024-09-06 00:00:00-04:00     0.2600           0.0
2024-12-06 00:00:00-05:00     0.2600           0.0

[158 rows x 2 columns]

In [7]:
BAC.dividends

Date
1986-06-02 00:00:00-04:00    0.0475
1986-08-29 00:00:00-04:00    0.0475
1986-12-01 00:00:00-05:00    0.0525
1987-03-02 00:00:00-05:00    0.0525
1987-06-01 00:00:00-04:00    0.0525
                              ...
2023-11-30 00:00:00-05:00    0.2400
2024-02-29 00:00:00-05:00    0.2400
2024-06-07 00:00:00-04:00    0.2400
2024-09-06 00:00:00-04:00    0.2600
2024-12-06 00:00:00-05:00    0.2600
Name: Dividends, Length: 155, dtype: float64

In [8]:
BAC.splits

Date
1986-11-21 00:00:00-05:00    2.0
1997-02-28 00:00:00-05:00    2.0
2004-08-30 00:00:00-04:00    2.0
Name: Stock Splits, dtype: float64

In [9]:
BAC.financials

,2023-12-31,2022-12-31,2021-12-31,2020-12-31
Tax Effect Of Unusual Items,-134400000.0,0.0,0.0,0.0
Tax Rate For Calcs,0.064,0.111,0.058806,0.057963
Total Unusual Items,-2100000000.0,NaN,NaN,NaN
Total Unusual Items Excluding Goodwill,-2100000000.0,NaN,NaN,NaN
Net Income From Continuing Operation Net Minority Interest,26515000000.0,27528000000.0,31978000000.0,17894000000.0
Reconciled Depreciation,2057000000.0,1978000000.0,1898000000.0,1843000000.0
Net Interest Income,56931000000.0,52462000000.0,42934000000.0,43360000000.0
Interest Expense,73331000000.0,20103000000.0,4738000000.0,8225000000.0
Interest Income,130262000000.0,72565000000.0,47672000000.0,51585000000.0
Normalized Income,28480600000.0,27528000000.0,31978000000.0,17894000000.0
Net Income From Continuing And Discontinued Operation,26515000000.0,27528000000.0,31978000000.0,17894000000.0
Diluted Average Shares,8080500000.0,8167500000.0,8558400000.0,8796900000.0
Basic Average Shares,8028600000.0,8113700000.0,8493300000.0,8753200000.0
Diluted EPS,3.08,3.19,3.57,1.87
Basic EPS,3.1,3.21,3.6,1.88
Diluted NI Availto Com Stockholders,24866000000.0,26015000000.0,30557000000.0,16473000000.0
Net Income Common Stockholders,24866000000.0,26015000000.0,30557000000.0,16473000000.0
Otherunder Preferred Stock Dividend,NaN,1513000000.0,1421000000.0,1421000000.0
Preferred Stock Dividends,1649000000.0,1513000000.0,1421000000.0,1421000000.0
Net Income,26515000000.0,27528000000.0,31978000000.0,17894000000.0
Net Income Including Noncontrolling Interests,26515000000.0,27528000000.0,31978000000.0,17894000000.0
Net Income Continuous Operations,26515000000.0,27528000000.0,31978000000.0,17894000000.0
Tax Provision,1827000000.0,3441000000.0,1998000000.0,1101000000.0
Pretax Income,28342000000.0,30969000000.0,33976000000.0,18995000000.0
Special Income Charges,-2100000000.0,NaN,NaN,NaN
Other Special Charges,2100000000.0,NaN,NaN,NaN
Gain On Sale Of Security,0.0,0.0,0.0,0.0
Selling General And Administration,47715000000.0,45946000000.0,45049000000.0,41156000000.0
Selling And Marketing Expense,5535000000.0,5478000000.0,5820000000.0,5134000000.0
General And Administrative Expense,42180000000.0,40468000000.0,39229000000.0,36022000000.0
Other Gand A,3850000000.0,4021000000.0,3089000000.0,3297000000.0
Salaries And Wages,38330000000.0,36447000000.0,36140000000.0,32725000000.0
Total Revenue,98581000000.0,94950000000.0,89113000000.0,85528000000.0
Operating Revenue,98581000000.0,94950000000.0,89113000000.0,85528000000.0
Occupancy And Equipment,7164000000.0,7071000000.0,7138000000.0,7141000000.0
Professional Expense And Contract Services Expense,2159000000.0,2142000000.0,1775000000.0,1694000000.0
Other Non Interest Expense,6707000000.0,6279000000.0,5769000000.0,5222000000.0

In [10]:
BAC.major_holders

Breakdown                          Value
insidersPercentHeld              0.10075
institutionsPercentHeld          0.63339
institutionsFloatPercentHeld     0.70435
institutionsCount             3688.00000

In [11]:
BAC.institutional_holders

,Date Reported,Holder,pctHeld,Shares,Value
0,2023-06-30,"Berkshire Hathaway, Inc",0.1300,1032852006,29632524052
1,2023-06-30,Vanguard Group Inc,0.0767,609510482,17486855728
2,2023-06-30,Blackrock Inc.,0.0598,475294291,13636193208
3,2023-06-30,State Street Corporation,0.0361,286796797,8228200105
4,2023-06-30,"FMR, LLC",0.0260,206490756,5924219789
5,2023-06-30,JP Morgan Chase & Company,0.0188,149382081,4285771903
6,2023-06-30,"Geode Capital Management, LLC",0.0160,127236515,3650415615
7,2023-06-30,Morgan Stanley,0.0141,112299216,3221864507
8,2023-06-30,Price (T.Rowe) Associates Inc,0.0134,106624795,3059065368
9,2022-12-31,Norges Bank Investment Management,0.0131,103760365,3436543288

In [12]:
BAC.balance_sheet

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Preferred Shares Number,409797858.0,406711800.0,NaN,250320600.0,333407892.0
Ordinary Shares Number,7895457665.0,7996777943.0,8077831463.0,8650814105.0,NaN
Share Issued,7895457665.0,7996777943.0,8077831463.0,8650814105.0,NaN
Net Debt,NaN,65452000000.0,NaN,NaN,96393000000.0
Total Debt,334302000000.0,302914000000.0,303870000000.0,282255000000.0,NaN
Tangible Book Value,194228000000.0,175778000000.0,176336000000.0,179463000000.0,NaN
Invested Capital,597551000000.0,547714000000.0,549228000000.0,530669000000.0,NaN
Net Tangible Assets,222625000000.0,204175000000.0,201044000000.0,203973000000.0,NaN
Common Stock Equity,263249000000.0,244800000000.0,245358000000.0,248414000000.0,NaN
Preferred Stock Equity,28397000000.0,28397000000.0,24708000000.0,24510000000.0,NaN
Total Capitalization,593850000000.0,549179000000.0,550183000000.0,535858000000.0,NaN
Total Equity Gross Minority Interest,291646000000.0,273197000000.0,270066000000.0,272924000000.0,NaN
Stockholders Equity,291646000000.0,273197000000.0,270066000000.0,272924000000.0,NaN
Gains Losses Not Affecting Retained Earnings,-17788000000.0,-21156000000.0,-5104000000.0,-1656000000.0,NaN
Other Equity Adjustments,-17788000000.0,-21156000000.0,-5104000000.0,-1656000000.0,NaN
Retained Earnings,224672000000.0,207003000000.0,188064000000.0,164088000000.0,NaN
Capital Stock,84762000000.0,87350000000.0,87106000000.0,110492000000.0,NaN
Common Stock,56365000000.0,58953000000.0,62398000000.0,85982000000.0,NaN
Preferred Stock,28397000000.0,28397000000.0,24708000000.0,24510000000.0,NaN
Total Liabilities Net Minority Interest,2888505000000.0,2778178000000.0,2899429000000.0,2546703000000.0,NaN
Derivative Product Liabilities,43432000000.0,44816000000.0,37675000000.0,45526000000.0,NaN
Long Term Debt And Capital Lease Obligation,302204000000.0,275982000000.0,280117000000.0,262934000000.0,NaN
Long Term Debt,302204000000.0,275982000000.0,280117000000.0,262934000000.0,NaN
Long Term Provisions,1209000000.0,1540000000.0,1456000000.0,1878000000.0,NaN
Current Debt And Capital Lease Obligation,32098000000.0,26932000000.0,23753000000.0,19321000000.0,NaN
Current Debt,32098000000.0,26932000000.0,23753000000.0,19321000000.0,NaN
Other Current Borrowings,32098000000.0,26932000000.0,23753000000.0,19321000000.0,NaN
Payables And Accrued Expenses,NaN,222533000000.0,198963000000.0,179921000000.0,182798000000.0
Current Accrued Expenses,NaN,222533000000.0,198963000000.0,179921000000.0,182798000000.0
Total Assets,3180151000000.0,3051375000000.0,3169495000000.0,2819627000000.0,NaN
Investments And Advances,1017946000000.0,1043422000000.0,1126273000000.0,792194000000.0,NaN
Held To Maturity Securities,594555000000.0,632825000000.0,674554000000.0,438249000000.0,NaN
Available For Sale Securities,10203000000.0,9206000000.0,8895000000.0,12110000000.0,NaN
Trading Securities,146539000000.0,180603000000.0,143646000000.0,107344000000.0,NaN
Goodwill And Other Intangible Assets,69021000000.0,69022000000.0,69022000000.0,68951000000.0,NaN
Goodwill,69021000000.0,69022000000.0,69022000000.0,68951000000.0,NaN
Net PPE,11855000000.0,11510000000.0,10833000000.0,11000000000.0,NaN
Receivables,96697000000.0,81135000000.0,87020000000.0,81157000000.0,NaN
Other Receivables,14816000000.0,13592000000.0,14757000000.0,16936000000.0,NaN
Accounts Receivable,81881000000.0,67543000000.0,72263000000.0,64221000000.0,NaN
Other Short Term Investments,266649000000.0,220788000000.0,299178000000.0,234491000000.0,NaN
Cash And Cash Equivalents,341419000000.0,237462000000.0,355365000000.0,387009000000.0,NaN
Cash Financial,27892000000.0,30334000000.0,29222000000.0,36430000000.0,NaN
Cash Cash Equivalents And Federal Funds Sold,622043000000.0,505036000000.0,606085000000.0,691067000000.0,NaN

In [13]:
BAC.cashflow

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Free Cash Flow,44982000000.0,-6327000000.0,-7193000000.0,37993000000.0,NaN
Repurchase Of Capital Stock,-4576000000.0,-5727000000.0,-27097000000.0,-8097000000.0,NaN
Repayment Of Debt,-44571000000.0,-34055000000.0,-46826000000.0,-47948000000.0,NaN
Issuance Of Debt,65396000000.0,65910000000.0,76675000000.0,57013000000.0,NaN
Issuance Of Capital Stock,0.0,4426000000.0,2169000000.0,2181000000.0,NaN
Interest Paid Supplemental Data,69604000000.0,18526000000.0,4506000000.0,8662000000.0,NaN
Income Tax Paid Supplemental Data,3405000000.0,2288000000.0,2760000000.0,2894000000.0,NaN
End Cash Position,333073000000.0,230203000000.0,348221000000.0,380463000000.0,NaN
Beginning Cash Position,230203000000.0,348221000000.0,380463000000.0,161560000000.0,NaN
Effect Of Exchange Rate Changes,-70000000.0,-3123000000.0,-3408000000.0,2756000000.0,NaN
Changes In Cash,102940000000.0,-114895000000.0,-28834000000.0,216147000000.0,NaN
Financing Cash Flow,93345000000.0,-106039000000.0,291650000000.0,355819000000.0,NaN
Cash Flow From Continuing Financing Activities,93345000000.0,-106039000000.0,291650000000.0,355819000000.0,NaN
Net Other Financing Charges,-717000000.0,-312000000.0,-620000000.0,-601000000.0,NaN
Cash Dividends Paid,-9087000000.0,-8576000000.0,-8055000000.0,-7727000000.0,NaN
Common Stock Dividend Paid,NaN,NaN,NaN,NaN,-5934000000.0
Net Preferred Stock Issuance,0.0,3772000000.0,198000000.0,1109000000.0,NaN
Preferred Stock Payments,0.0,-654000000.0,-1971000000.0,-1072000000.0,NaN
Preferred Stock Issuance,0.0,4426000000.0,2169000000.0,2181000000.0,NaN
Net Common Stock Issuance,-4576000000.0,-5073000000.0,-25126000000.0,-7025000000.0,NaN
Common Stock Payments,-4576000000.0,-5073000000.0,-25126000000.0,-7025000000.0,NaN
Net Issuance Payments Of Debt,25987000000.0,35034000000.0,34281000000.0,4172000000.0,NaN
Net Short Term Debt Issuance,5162000000.0,3179000000.0,4432000000.0,-4893000000.0,NaN
Net Long Term Debt Issuance,20825000000.0,31855000000.0,29849000000.0,9065000000.0,NaN
Long Term Debt Payments,-44571000000.0,-34055000000.0,-46826000000.0,-47948000000.0,NaN
Long Term Debt Issuance,65396000000.0,65910000000.0,76675000000.0,57013000000.0,NaN
Investing Cash Flow,-35387000000.0,-2529000000.0,-313291000000.0,-177665000000.0,NaN
Cash Flow From Continuing Investing Activities,-35387000000.0,-2529000000.0,-313291000000.0,-177665000000.0,NaN
Net Other Investing Changes,-5258000000.0,-4612000000.0,-3479000000.0,-3489000000.0,NaN
Net Investment Purchase And Sale,-4238000000.0,84103000000.0,-309745000000.0,-189969000000.0,NaN
Sale Of Investment,286819000000.0,243161000000.0,291389000000.0,262443000000.0,NaN
Purchase Of Investment,-291057000000.0,-159058000000.0,-601134000000.0,-452412000000.0,NaN
Operating Cash Flow,44982000000.0,-6327000000.0,-7193000000.0,37993000000.0,NaN
Cash Flow From Continuing Operating Activities,44982000000.0,-6327000000.0,-7193000000.0,37993000000.0,NaN
Change In Working Capital,2728000000.0,-51944000000.0,-39920000000.0,-326000000.0,NaN
Change In Other Working Capital,44391000000.0,-95772000000.0,-22104000000.0,16942000000.0,NaN
Change In Other Current Assets,-23944000000.0,20799000000.0,-34455000000.0,-12883000000.0,NaN
Change In Payables And Accrued Expense,-17719000000.0,23029000000.0,16639000000.0,-4385000000.0,NaN
Change In Accrued Expense,-17719000000.0,23029000000.0,16639000000.0,-4385000000.0,NaN
Other Non Cash Items,8349000000.0,7927000000.0,-4300000000.0,3278000000.0,NaN
Stock Based Compensation,2942000000.0,2862000000.0,2768000000.0,2031000000.0,NaN
Asset Impairment Charge,NaN,NaN,0.0,0.0,2072000000.0
Deferred Tax,-2011000000.0,739000000.0,-838000000.0,-1737000000.0,NaN
Deferred Income Tax,-2011000000.0,739000000.0,-838000000.0,-1737000000.0,NaN
Depreciation Amortization Depletion,2057000000.0,1978000000.0,1898000000.0,1843000000.0,NaN
Depreciation And Amortization,2057000000.0,1978000000.0,1898000000.0,1843000000.0,NaN
Operating Gains Losses,405000000.0,-32000000.0,-22000000.0,-411000000.0,NaN
Gain Loss On Investment Securities,405000000.0,-32000000.0,-22000000.0,-411000000.0,NaN
Net Income From Continuing Operations,26515000000.0,27528000000.0,31978000000.0,17894000000.0,NaN

In [15]:
BAC.sustainability

                                                                           esgScores
maxAge                                                                         86400
totalEsg                                                                       24.36
environmentScore                                                                1.88
socialScore                                                                    13.65
governanceScore                                                                 8.83
ratingYear                                                                      2024
ratingMonth                                                                       12
highestControversy                                                               3.0
peerCount                                                                        458
esgPerformance                                                              AVG_PERF
peerGroup                                                                      Banks
relatedControversy                    [Business Ethics Incidents;Customer Incidents]
peerEsgScorePerformance            {'min': 8.22, 'avg': 26.028449781659383, 'max'...
peerGovernancePerformance          {'min': 3.26, 'avg': 9.40505882352941, 'max': ...
peerSocialPerformance              {'min': 4.1, 'avg': 9.813294117647057, 'max': ...
peerEnvironmentPerformance         {'min': 0.0, 'avg': 1.3817058823529411, 'max':...
peerHighestControversyPerformance  {'min': 0.0, 'avg': 0.7729257641921398, 'max':...
percentile                                                                      None
environmentPercentile                                                           None
socialPercentile                                                                None
governancePercentile                                                            None
adult                                                                          False
alcoholic                                                                      False
animalTesting                                                                  False
catholic                                                                        None
controversialWeapons                                                           False
smallArms                                                                      False
furLeather                                                                     False
gambling                                                                       False
gmo                                                                            False
militaryContract                                                               False
nuclear                                                                        False
pesticides                                                                     False
palmOil                                                                        False
coal                                                                           False
tobacco                                                                        False

In [16]:
BAC.recommendations

  period  strongBuy  buy  hold  sell  strongSell
0     0m          7    8     6     0           1
1    -1m          8    8     5     0           1
2    -2m          8    7     7     0           0
3    -3m          7    7     8     0           0

In [22]:
BAC.calendar

{'Dividend Date': datetime.date(2024, 12, 26),
 'Ex-Dividend Date': datetime.date(2024, 12, 5),
 'Earnings Date': [datetime.date(2025, 1, 16)],
 'Earnings High': 0.85,
 'Earnings Low': 0.72,
 'Earnings Average': 0.7848,
 'Revenue High': 25387000000,
 'Revenue Low': 24926000000,
 'Revenue Average': 25142699940}

In [23]:
BAC.isin

'-'

In [24]:
BAC.options

('2024-12-27',
 '2025-01-03',
 '2025-01-10',
 '2025-01-17',
 '2025-01-24',
 '2025-01-31',
 '2025-02-21',
 '2025-03-21',
 '2025-05-16',
 '2025-06-20',
 '2025-07-18',
 '2025-09-19',
 '2026-01-16',
 '2026-06-18',
 '2026-09-18',
 '2026-12-18',
 '2027-01-15')

In [26]:
hist.plot(kind="line", figsize=(12, 12), subplots=True)

array([<Axes: xlabel='Date'>, <Axes: xlabel='Date'>,
       <Axes: xlabel='Date'>, <Axes: xlabel='Date'>,
       <Axes: xlabel='Date'>, <Axes: xlabel='Date'>,
       <Axes: xlabel='Date'>], dtype=object)

## Adv. Financial Data Gathering

In [71]:
#Major Indicies
major_indicies = pd.read_html("https://finance.yahoo.com/markets/world-indices")[0]

In [72]:
major_indicies.head()

,Symbol,Name,Unnamed: 2,Price,Change,Change %,Volume,Day Range,52 Wk Range
0,^GSPC,S&P 500,NaN,"5,930.85 +63.77 (+1.09%)",63.77,+1.09%,6.348B,NaN,NaN
1,^DJI,Dow Jones Industrial Average,NaN,"42,840.26 +498.02 (+1.18%)",498.02,+1.18%,1.121B,NaN,NaN
2,^IXIC,NASDAQ Composite,NaN,"19,572.60 +199.83 (+1.03%)",199.83,+1.03%,10.622B,NaN,NaN
3,^NYA,NYSE COMPOSITE (DJ),NaN,"19,119.44 +161.22 (+0.85%)",161.22,+0.85%,0,NaN,NaN
4,^XAX,NYSE AMEX COMPOSITE INDEX,NaN,"4,657.78 -5.50 (-0.12%)",-5.50,-0.12%,0,NaN,NaN

In [73]:
ticker_list = major_indicies['Symbol'].str.replace("^", "").str.lower().to_list()

In [74]:
len(ticker_list)

41

In [75]:
df = yf.download(ticker_list, period="1d", start="2020-01-13", end="2021-03-10")

[*********************100%***********************]  41 of 41 completed

36 Failed downloads:
['IPSA', 'TA125.TA', 'NZ50', 'JN0U.JO', 'FCHI', 'BUK100P', 'MERV', 'AORD', 'GSPTSE', 'IXIC', 'AXJO', 'FTSE', 'GDAXI', 'N225', 'CASE30', 'TWII', 'GSPC', 'N100', 'STOXX50E', 'KS11', 'BFX', 'BSESN', 'JKSE', '125904-USD-STRD', 'BVSP']: YFTzMissingError('$%ticker%: possibly delisted; no timezone found')
['XDN', 'XDA', 'XDE', 'KLSE', 'MXX', 'XDB', 'VIX', 'RUT']: YFPricesMissingError('$%ticker%: possibly delisted; no price data found  (1d 2020-01-13 -> 2021-03-10)')
['NYA', 'XAX']: YFInvalidPeriodError("%ticker%: Period '1d' is invalid, must be one of ['1mo', '3mo', '6mo', 'ytd', '1y', '2y', '5y', '10y', 'max']")
['STI']: YFPricesMissingError('$%ticker%: possibly delisted; no price data found  (1d 2020-01-13 -> 2021-03-10) (Yahoo error = "Data doesn\'t exist for startDate = 1578891600, endDate = 1615352400")')

In [76]:
df.columns

MultiIndex([('Adj Close',       '000001.SS'),
            ('Adj Close', '125904-USD-STRD'),
            ('Adj Close',            'AORD'),
            ('Adj Close',            'AXJO'),
            ('Adj Close',             'BFX'),
            ('Adj Close',           'BSESN'),
            ('Adj Close',         'BUK100P'),
            ('Adj Close',            'BVSP'),
            ('Adj Close',          'CASE30'),
            ('Adj Close',             'DJI'),
            ...
            (   'Volume',             'STI'),
            (   'Volume',        'STOXX50E'),
            (   'Volume',        'TA125.TA'),
            (   'Volume',            'TWII'),
            (   'Volume',             'VIX'),
            (   'Volume',             'XAX'),
            (   'Volume',             'XDA'),
            (   'Volume',             'XDB'),
            (   'Volume',             'XDE'),
            (   'Volume',             'XDN')],
           names=['Price', 'Ticker'], length=246)

In [77]:
df.head

<bound method NDFrame.head of Price         Adj Close                                                   \
Ticker        000001.SS 125904-USD-STRD AORD AXJO BFX BSESN BUK100P BVSP
Date
2020-01-13  3115.570068             NaN  NaN  NaN NaN   NaN     NaN  NaN
2020-01-14  3106.820068             NaN  NaN  NaN NaN   NaN     NaN  NaN
2020-01-15  3090.040039             NaN  NaN  NaN NaN   NaN     NaN  NaN
2020-01-16  3074.081055             NaN  NaN  NaN NaN   NaN     NaN  NaN
2020-01-17  3075.496094             NaN  NaN  NaN NaN   NaN     NaN  NaN
...                 ...             ...  ...  ...  ..   ...     ...  ...
2021-03-03  3576.899902             NaN  NaN  NaN NaN   NaN     NaN  NaN
2021-03-04  3503.489990             NaN  NaN  NaN NaN   NaN     NaN  NaN
2021-03-05  3501.987061             NaN  NaN  NaN NaN   NaN     NaN  NaN
2021-03-08  3421.409912             NaN  NaN  NaN NaN   NaN     NaN  NaN
2021-03-09  3359.290039             NaN  NaN  NaN NaN   NaN     NaN  NaN

Price                            ... Volume                                 \
Ticker     CASE30           DJI  ...    STI STOXX50E TA125.TA TWII VIX XAX
Date                             ...
2020-01-13    NaN  28907.099609  ...    NaN      NaN      NaN  NaN NaN NaN
2020-01-14    NaN  28939.699219  ...    NaN      NaN      NaN  NaN NaN NaN
2020-01-15    NaN  29030.199219  ...    NaN      NaN      NaN  NaN NaN NaN
2020-01-16    NaN  29297.599609  ...    NaN      NaN      NaN  NaN NaN NaN
2020-01-17    NaN  29348.099609  ...    NaN      NaN      NaN  NaN NaN NaN
...           ...           ...  ...    ...      ...      ...  ...  ..  ..
2021-03-03    NaN  31270.099609  ...    NaN      NaN      NaN  NaN NaN NaN
2021-03-04    NaN  30924.099609  ...    NaN      NaN      NaN  NaN NaN NaN
2021-03-05    NaN  31496.300781  ...    NaN      NaN      NaN  NaN NaN NaN
2021-03-08    NaN  31802.400391  ...    NaN      NaN      NaN  NaN NaN NaN
2021-03-09    NaN  31832.699219  ...    NaN      NaN      NaN  NaN NaN NaN

Price
Ticker     XDA XDB XDE XDN
Date
2020-01-13 NaN NaN NaN NaN
2020-01-14 NaN NaN NaN NaN
2020-01-15 NaN NaN NaN NaN
2020-01-16 NaN NaN NaN NaN
2020-01-17 NaN NaN NaN NaN
...         ..  ..  ..  ..
2021-03-03 NaN NaN NaN NaN
2021-03-04 NaN NaN NaN NaN
2021-03-05 NaN NaN NaN NaN
2021-03-08 NaN NaN NaN NaN
2021-03-09 NaN NaN NaN NaN

[301 rows x 246 columns]>

In [78]:
adj_close = df.dropna(thresh=10, axis=1)["Adj Close"]

In [79]:
adj_close.head()

Ticker        000001.SS           DJI   DX-Y.NYB  HSI     MOEX.ME
Date
2020-01-13  3115.570068  28907.099609  97.349998  NaN  101.647537
2020-01-14  3106.820068  28939.699219  97.370003  NaN  101.576263
2020-01-15  3090.040039  29030.199219  97.230003  NaN  103.233269
2020-01-16  3074.081055  29297.599609  97.320000  NaN  102.003876
2020-01-17  3075.496094  29348.099609  97.610001  NaN  102.271149

In [80]:
adj_close.describe().T

,count,mean,std,min,25%,50%,75%,max
Ticker,,,,,,,,
000001.SS,278.0,3194.245617,267.324450,2660.169922,2924.339294,3279.262451,3386.254456,3696.167969
DJI,281.0,27486.633181,2832.489684,18591.900391,25812.900391,27902.000000,29591.300781,31961.900391
DX-Y.NYB,291.0,94.974674,3.501006,89.440002,92.279999,93.860001,97.974998,102.820000
HSI,278.0,25730.574085,1945.048268,21696.099609,24349.649902,25116.950195,26677.800293,31084.900391
MOEX.ME,289.0,124.107703,23.443573,72.142136,104.676476,128.133972,142.831345,168.606354

In [81]:
adj_close.plot(figsize=(12,12), subplots=True)
plt.show

Will drop XAX due to lack of viable data.

In [84]:
#adj_close = adj_close.drop("XAX", axis=1)

In [96]:
adj_close.plot(figsize=(12,20), subplots=True)
plt.show

In [97]:
dji = adj_close['DJI']

In [103]:
dji.resample("4M").mean()

C:\Users\shres\AppData\Local\Temp\ipykernel_26532\3885203448.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dji.resample("4M").mean()

Date
2020-01-31    28940.228516
2020-05-31    24569.870515
2020-09-30    26987.780779
2021-01-31    29529.720855
2021-05-31    31332.573167
Freq: 4ME, Name: DJI, dtype: float64

In [104]:
dji

Date
2020-01-13    28907.099609
2020-01-14    28939.699219
2020-01-15    29030.199219
2020-01-16    29297.599609
2020-01-17    29348.099609
                  ...
2021-03-03    31270.099609
2021-03-04    30924.099609
2021-03-05    31496.300781
2021-03-08    31802.400391
2021-03-09    31832.699219
Name: DJI, Length: 301, dtype: float64

In [106]:
dji.shift(1)

Date
2020-01-13             NaN
2020-01-14    28907.099609
2020-01-15    28939.699219
2020-01-16    29030.199219
2020-01-17    29297.599609
                  ...
2021-03-03    31391.500000
2021-03-04    31270.099609
2021-03-05    30924.099609
2021-03-08    31496.300781
2021-03-09    31802.400391
Name: DJI, Length: 301, dtype: float64

In [107]:
dji_per_change = dji / (dji.shift(1) - 1)

In [109]:
dji_per_change.plot(figsize = (12, 6))

In [110]:
dji_log_returns_shift = np.log(dji / dji.shift(1))

In [117]:
dji_log_returns_shift.plot(figsize=(12, 6))

In [116]:
dji.hist(bins=50, figsize=(12, 12))

## Data

We need to get data using pandas datareader. We will get stock(US$) information for the following banks:

    Bank of America
    CitiGroup
    Goldman Sachs
    JPMorgan Chase
    Morgan Stanley
    Wells Fargo

Figure out how to get the stock data from Jan 1st 2006 to Jan 1st 2016 for each of these banks. Set each bank to be a separate dataframe, with the variable name for that bank being its ticker symbol. This will involve a few steps:
Use datetime to set start and end datetime objects.

Pickle file is provided in the repository (Pickel file : 'all_banks' )

I will use 'yahoo

In [118]:
start = dt.datetime(2006, 1, 1)
end = dt.datetime(2016, 1, 1)

Created a list of the ticker symbols (as strings) in alphabetical order. Call this list: symbols

In [151]:
#BAC = yf.Ticker('BAC')
yf.Ticker

yfinance.ticker.Ticker

In [152]:
symbol = yf.Tickers

In [153]:
stock_data = "symbols"

In [119]:
# List of stock symbols
symbols = ['BAC', 'C', 'GS', 'JPM', 'MS', 'WFC']

# Fetch Data for Each Stock

Use the yfinance library to fetch historical stock data for each symbol. The yf.download() method makes it easy to retrieve data.

In [156]:
# Create an empty dictionary to store the stock data
stock_data = {}

# Fetch stock data for each symbol
for symbol in symbols:
    stock_data[symbol] = yf.download(symbol, start=start, end=end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [157]:
stock_data = {}
for symbol in symbols:
    try:
        data = yf.download(symbol, start=start, end=end)
        if not data.empty:  # Check if data is not empty
            stock_data[symbol] = data
        else:
            print(f"No data for {symbol}. Skipping...")
    except Exception as e:
        print(f"Error fetching data for {symbol}: {e}")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [158]:
#ticker_list = stock_data['Symbol'].str.replace("^", "").str.lower().to_list()
stock_data = {}
print("stock_data")

stock_data

Combine Data into a Single DataFrame

Analyze closing prices for all the stocks and combine them into one DataFrame:

In [160]:
#Example
#ticker_list = major_indicies['Symbol'].str.replace("^", "").str.lower().to_list()
#df = yf.download(ticker_list, period="1d", start="2020-01-13", end="2021-03-10")

In [167]:
closing_prices = pd.DataFrame({symbol: stock_data[symbol]['Close'] for symbol in stock_data})
closing_prices.head()

Empty DataFrame
Columns: []
Index: []

In [165]:
# Extract the closing prices for each stock and combine them into one DataFrame
#closing_prices = pd.DataFrame({symbol: stock_data[symbol]['Close'] for symbol in symbols})
# Display the first few rows of the combined DataFrame
print(closing_prices.head())

Empty DataFrame
Columns: []
Index: []

In [169]:
#symbols[i] = data.DataReader(symbols[i], 'yahoo', start, end)

In [174]:
#pd.concat(objs, axis=0, join='outer', ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=False, copy=True)
bank_stocks = pd.concat(symbols, axis = 1, on = 'key', join = 'outer', ignore_index = False, keys = "tickers")
#bank_stocks.head()

TypeError: concat() got an unexpected keyword argument 'on'